* {
  margin: 0 auto;
}

h1,
h2 {
  font-size: 24px;
  background-color: #219ebc;
  color: white;
  padding: 0.5rem;
}

body {
  font-size: medium;
  max-width: 60%;
  text-align: center;
  width: auto;
  border: solid 2px #219ebc;
}

p,
figure {
  padding: 0.5rem;
}

img {
  width: 5rem;
}
