* {
  margin: 0 auto;
}

h1,
h2,
figcaption,
#current-temp {
  font-size: 24px;
  padding: 0.5rem;
}

h1 {
  background-color: #219ebc;
  color: white;
}

figure {
  border-bottom: solid 2px #219ebc;
}

h2 {
  color: #219ebc;
}

body {
  font-size: medium;
  max-width: 60%;
  text-align: center;
  width: auto;
  border: solid 2px #219ebc;
}

p,
figure {
  padding: 0.5rem;
}

img {
  width: 5rem;
}
