/* @import url("https://fonts.googleapis.com/css2?family=Kanit&family=Roboto&display=swap"); */

h1, h2, h3{
    font-family: "Kanit", Arial, Helvetica, sans-serif;
}

body {
    margin: 0 auto;
    max-width: 1200px;
    width: auto;
    box-shadow: 0px 10px 10px #000000d7;
    font-size: 1.2em;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 16px;
}

header, footer {
    padding: 0.5em;
    background-color: #5d50a0;
    text-align: center;
    color: #F8F4F1;
}

header{
    text-shadow: 2px 2px 3px #3443a9;
}

main {
    padding: 1rem;
    background-color: #f2e9e4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

section{
    background-color: #aba3aa7a;
    border-radius: 10px;
    text-align: center;
}

section h2{
    color: #F8F4F1;
    background-color: #5d50a0;
    margin-top: -3px ;
    border-radius: 5px;
    padding: 1em;

}
section h3{
    color: #5d50a0;
}


.box_one{
    grid-column: 1/2;
}
.box_two{
    grid-column: 2/3;
}
.box_three{
    grid-column: 3/4;
}

img{
    max-width : 350px;
    width: 80%;
    height: auto;
    margin-top: 1em;
}

p{
    text-align: start;
    padding: 1em;
}


section a {
    color: #3f4b9a;
    text-decoration: underline;
    padding: 1em;
}

footer a {
    color: #f2e9e4;
}