*{
    margin: 0;

}

body{
    margin: 0 auto;
    width: auto;
}

nav{
    background-color: #002D72;
    color: white;
    box-shadow: 0 0 10px black;
    text-align: center;
    display: flex;
    flex-direction: column;
}
body{
    background-color: #c9d3e4;
}
nav ul li a:hover{
    background-color: #E8E8E3;
    color: #002D72;
}

h1, h2, h3{
    font-family: 'DM Serif Display', serif;
    color: #002D72;
    padding: 20px;
}

h1{
    font-size: 2.2em;
    text-align: center;
}

h2{
    font-size: 1.5em;
}

h3{
    font-size: 1em;
}

p, a, ul, footer, section{
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 200;
    font-size: 1.2rem;
}

p{
    padding: 20px;
}
nav ul{
    display: block;
    list-style: none;
    text-align: center;
    overflow: hidden;
    padding-left: 0;
}

nav ul a{
    display: block;
    padding: 20px;
}

.active{
    color: #ba1c1c;
}

a{
    text-decoration: none;
    color: #E8E8E3;
}

section{
    display: block;
    background-color: #e8e8e3d4;
    border-radius: 10px;
    border: solid 2px #002D72;
    padding: 20px;
    margin: 1em;
}

section a{
    color: #002D72;
    padding: 20px;
}

table{
    border: solid 0.5px #002D72;
    max-width: 800px;
    width: 100%;
    word-break: break-word;

}
.colors{
    display: table
}
.colors th, .typo th{
    background-color: #709ad8;
    
}
.colors td{
    color: #E8E8E3;
}

.primary{
    background-color: #002D72;
}
.secondary{
    background-color: #c9d3e4;
    color: black;
}
.accent1{
    background-color: #ba1c1c;
}
.accent2{
    background-color: #d57d5d;
}

.heading{
    font-family: 'DM Serif Display', serif;
}

.colored-para{
    background-color: #002D72;
    color: #E8E8E3;
}

td, th {
    text-align: center;
    padding: 8px;
}

tr{
    background-color: #c9d3e4;
}

img{
    max-width : 450px;
    width: 100%;
}

footer{
    background-color: #ba1c1c;
    padding: 2em;
    display: block;
    text-align: center;
    box-shadow: 0 0 10px black;
    color: #E8E8E3;
}
