@media only screen and (min-width: 75em) {
    .mainNav button{
        display: none;
    }

    nav ul#primaryNav{
        display: flex;
        margin-left: 2vw;

    }

    nav ul li a{
        border: none;
    }

    header{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    }

    .mainNav {
        text-align: center;
    }
    .faIcons-min{
        display: none;
    }
    .faIcons-max{
        display: block;
    }

    .date{
        grid-column: 1/4;
    }

    main{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }

    .spotlight_3{
        display: block;
    }

    .event{
        grid-area: 1/1/2/2;
    }
    .weather{
        grid-area: 2/1/3/2;
    }
    .join{
        grid-area: 3/1/4/2;
    }
    .hero{
        height: auto;
        grid-area: 1/2/3/3;
        /* grid-column: 2/3;
        grid-row: 1/3; */
    }
    .news{
        grid-area: 3/2/4/3;
    }
    .spotlight{
        grid-area: 1/3/4/4;
    }
}