@media only screen and (min-width: 40em) {
    main{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.5em;
    }
    .mainNav {
        text-align: center;
    }

    .hero{
        grid-column: 1/4;
    }
    .news{
        grid-column: 1/4;
        grid-row: 2/3;
    }

    .spotlight{
        grid-column: 1/4;
        grid-row: 3/4;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        }

    .spotlight img{
        height: auto;
    }

    .join{
        display: block;
        grid-column: 1/4;
        grid-row: 4/5;
    }

    .event{
        grid-column: 1/3;
    }

    footer .main_footer{
        display: grid;
        grid-template-columns: 1fr, 0.5fr, 1fr;
        text-align: start;
    }

    footer a{
        color: white;
        text-decoration: none;
    }

    .site_info{
        grid-column: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-row: 1/2;
        padding: 0.5em;
    }

    .contact{
        grid-column: 3/4;
        grid-row: 1/2;
        padding: 2em;
        display:flex;
        flex-direction: column;
        justify-content: center;

    }
    #lastModified{
        grid-column: 1/4;
        grid-row: 3/4;
        text-align: center;
    }
    .logo{
        margin: auto;
        padding:20px;
    }

}