:root{
    --primary-color: #c8221f;
    --secondary-color: #ffffff;
    --accent1: #437081;
    --accent2: #d14408;

    --heading-font: "Chewy", cursive;
    --paragraph-font: "DM Sans", sans-serif;
}

body{
    margin: 0 auto;
    font-size: 17px;
}

h1{
  margin-top: 0;
}

h1,
h2,
h3,
h4{
    font-family: var(--heading-font);
    letter-spacing: .2rem;
    color: var(--secondary-color);
    margin: 0;
    padding: .7rem;
}

p, 
span,
a,
figcaption,
footer,
button,
ol
{
    font-family: var(--paragraph-font);
    color: var(--secondary-color);
    padding: 0 .5rem;

}

p {
  font-size: 16px;
}

header{
    text-align: center;
}
main{
    background-color: var(--secondary-color);
}

.button,
nav,
.drinks,
footer{
    background-color: var(--primary-color);
}

.getContact,
.specials {
  text-align: center;
  /* padding-bottom: .5rem; */
}

/* .specials-content {
  background-color: var(--primary-color);
} */

.specials {
  background-color: var(--primary-color);
  position: relative;
}

.drinkText {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: .5rem;
}

#numb {
  padding: 0;
  margin: 0;
}
.cart2 {
  padding: 1rem;
  width: 24px;
  height: 24px;
  margin-bottom: auto;
}

.rating,
.cart {
  display: flex; 
  align-items: center;  
}

.bottomdiv,
.bestSelling {
  display: flex;
}
.bestSelling {
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

/* Webkit-based browsers (Chrome, Safari) */
.bestSelling::-webkit-scrollbar {
  width: 8px; 
}

.bestSelling::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 10px;
}

.bestSelling::-webkit-scrollbar-track {
  /* background-color: var(--track);  */
  background-color: var();
}


.montlyDrink {
  width: 90%;
  margin: 1rem;
  padding: .5rem .5rem 0 .5rem;
  background-color: var(--secondary-color);
}
.montlyDrink img {
  width: 250px;
}

.rating img,
.cart {
  width: 24px;
}

.cart {
  margin-left: auto;
} 

.priceDiv {
  display: flex;
  justify-content: end;
}
.priceDiv p {
  padding: 0 0 .5rem 0;
  margin: 0;
}
.moreInfo{
  display: none;
}

.button{
  padding: .8rem;
  display: flex;
  height: 3rem;
  align-items: center;
  justify-content: space-between;
  color: var(--secondary-color);
}
button,
.submit 
{
  border: none;
  outline: none;
  cursor: pointer;
}

.mainNav button {
  margin: 0.2rem 2vw;
  background-color: transparent;
  font-size: 2rem;
}

.specials-button {
  cursor: pointer;
  padding: .5rem;
  border-radius: .5rem;
}

.specials-button a {
  color: #437081;
}

.logo{
  width: 150px;
  max-width: 100%;
}

.logoContainer {
  background-image: url(../images/fond.png);
  background-size: 160%; 
  background-repeat: no-repeat; /* Prevent image tiling */
  background-position: center 20%;
}

#primaryNav{
  margin: 0;
}

nav ul {
  text-align: center;
  list-style-type: none;
  padding: 0;
  max-height: 0; 
  overflow: hidden; 
  transition: 0.5s ease-in; 
}

nav ul.open {
  max-height: 300px; 
  display: block;
}

nav ul li a {
  display: block;
  padding: 0.8rem 2vw;
  text-decoration: none;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

nav ul li.active a {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

nav ul li a:hover {
  background-color: var(--accent2);
  color: var(--secondary-color);
}
#hamburgerBtn img{
  cursor: pointer;
}
#hamburgerBtn span:nth-child(1) {
  display: block;
}
#hamburgerBtn span:nth-child(2) {
  display: none;
}
#hamburgerBtn.open span:nth-child(1) {
  display: none;
}
#hamburgerBtn.open span:nth-child(2) {
  display: block;
}

.social{
  display: flex;
  gap: 1.2rem;
}

section{
  margin: 1.5rem 0;
  padding-bottom: 1.5rem;
}
.index h1{
  text-shadow: 4px 4px 5px var(--accent2);
  font-size: 3em;
}
.hero{
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
  background-image: url("../images/fresh-fruits.jpg");
  background-size: cover;
  background-position: center;
  background-color: #c8221f;
}

.home-hero {
  background-color: var(--primary-color);
  background-size: cover;
  background-position: center 40%;
  text-align: center;
  padding-bottom: .5rem;
  position: relative;
  z-index: 1;
  margin: 0;
}
.text-container {
  position: relative;
  z-index: 2; 
}

.addInfo {
  background-color: var(--primary-color);
  padding: .5rem;
  position: relative;
}

.addInfo p {
  margin: 0;
  text-align: center;
  position: relative;
  z-index: 2;
}

.hero-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/placeholder-hero.png");
  background-size: cover;
  background-position: center;
  z-index: 0;
}

#hero-placeholder.loaded {
  background-image: none; /* Remove the background image when the actual image is loaded */
}

.aboutHero{
  background-color: var(--primary-color);
  padding-bottom: 1rem;
  text-align: center;
  background-image: url(../images/hero-3.png);
  background-size:50%;
  background-repeat: no-repeat;
  background-position: right;
  min-height: 8rem;
}

.hero img{
  margin-top: 2rem;
  max-width: 30rem;
  width: 100%;
}

.firstcolumn h1 {
  text-align: center;
}

.firstcolumn {
  max-width: 600px;
  margin: auto;
}

.secondcolumn{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1rem;
}
a {
  text-decoration: none;
}

.promo {
  text-align: center;
  padding: .5rem 0;
}

.promoContent,
.info {
  margin: 1.2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: .5rem;
}

.promo h2 {
  color: var(--primary-color);
  margin-bottom: .2rem;
}

.promo p, .promoText p {
  color: var(--accent2);

}

.promo p,
.drinkText {
  text-align: left;
}

.promo img {
  margin-top: 1.2rem;
  transform: rotate(-2deg);
  margin: .2rem;
}

section img {
  width: 100%;
}

.drinkContainer
 { 
  background-color: var(--secondary-color);
  padding: 1rem;
  width: 70%;
  margin: 0 auto;
}

.drinkContainer p,
.drinkContainer h3 {
  padding: 0;
}

.instructions {
  text-align: left;
}

#clear-icon {
  filter: brightness(50%) saturate(100%);
  -webkit-filter: brightness(114%) saturate(400%);
  -moz-filter: brightness(50%) saturate(100%);
}

.action-button {
  cursor: pointer;
  background-color: var(--primary-color);
  font-size: large;
  padding: 1rem;
  border-radius: 20px;
}
.action-button:hover {
  background-color: var(--accent2);
  transform: scale(1.1);
}

.submit{
  background-color: var(--accent1);
  color: var(--secondary-color);
  padding: .5rem;
  border-radius: 5px;
  width: auto;
  margin: 0.5rem auto;
  display: block;
  border: none;
  outline: none;
}

.submit:hover {
  background-color: var(--primary-color);
}

.submit:focus {
  background-color: #c8221f;
  border-color: #c8221fc6;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(46, 54, 80, 0.075) 0 1px 1px, #c8221fa0 0 0 0 .2rem;
}

.card img{
    width: 100%;
}

.infoText {
  grid-area: 2/1/3/2;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.infoIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: .5rem;
  grid-column: 1/2;

}

.infoIcons img {
  width: 32px;
}

.info h2 {
  color: var(--accent1);
  grid-column: 1/3;
  text-align: center;
}

.infoText p {
  color: var(--primary-color);
}

.infoImg img {
  border:  solid var(--accent1);
  max-width: 100%;
  height: auto;
}

.infoImg {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.meteo,
.contact, 
.getContact
{
    background-color: var(--accent1);
    padding-bottom: .5rem;
}

.container,
.history
{
    background-color: var(--accent2);
    padding-bottom: 2rem;
}
.container {
  padding-top: .5rem;
}

.montly {
  background-color: #d14408e7;
  position: relative;
  background-image: url(../images/drinks-kobby.jpg);
  background-size: cover;

}

.montly #sideImg {
  position: absolute;
  width: 30%;
  right: 1rem;
  top: -10px;
  /* top: 1rem; */
}

.cardInfo {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
    justify-content: space-between;
}

.cardInfo > div {
  flex-basis: 50%;
}

.drinks{
  text-align: center;
  background-image: url(../images/brooke-lark-HjWzkqW1dgI-unsplash.jpg);
  background-size: cover;
}

.meteo{
  background-image: url(../images/meteo.png);
  background-size: cover;
  padding: 0;
  margin: 0;
}

.meteo h2{
  text-align: center;
}

.weather {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.forecast {
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-icon {
  max-width: 35%;
  margin: 0;
}


#weather-icon,
#clear-icon,
#main-icon
{
  text-align: center;
}

.current {
  grid-column: 1/2;
  display: flex;
  flex-direction: row-reverse;
  align-items:start;
  justify-content: left;
}

#currentTemp {
  font-size: larger;
}
#desc {
  align-self: center;
  padding: 17px;
  margin-right: 10px;
}
.currentInfo {
  grid-column: 1/3;
  display: flex;
  flex-direction: row-reverse;
}

h4,
.forecastSec h3 {
  background-color: var(--secondary-color);
  color: var(--accent1);
  text-align: center;
  padding: 15px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.one,
.two{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.one div,
.two div {
  text-align: center;
}

.one p,
.two p {
  margin: 0;
  padding: 10px;
}

.hide {
  display: none;
}

footer{
  text-align: center;
  padding: 0;
}
.footerDown{
  background-color: var(--accent1);
  padding: 1rem;
  margin-top: .5rem;
}
/* fresh page */

input:required{
  border: 2px solid var(--primary-color);
}
input[type="text"]:valid,
input[type="email"]:valid,
input[type="tel"]:valid,
input[type="password"]:valid {
  border: 2px solid var(--accent1);
}


.info ul{
  list-style: none;
  padding: 0;
}


form input,
input[type="checkbox"]
{
  margin: 0.3rem 5px;
}

textarea{
  width: 100%;
}

.form h2 {
  color: #c8221f;
}

.userInfo{
  display: flex;
  flex-direction: column;
  background-image: url("../images/back.png");
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: top;
}

.userInfo input{
  height: 2rem;
}

.fruits div {
  display: flex;
  align-items: center;
}

#close {
  cursor: pointer;
  margin: 0;
  font-size: larger;
  font-weight: bold;
}

#close:hover {
  color: #c8221f;
}

#submit-message {
  display: none;
  background-color: #ffffffd7;
  padding: 1rem;
  border-radius: 10px;
  width: 55%;
  margin: auto;
  margin-top: 2rem;
  text-align: left;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.orderTop {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #c8221f;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

#submit-message h2 {
  color: #c8221f;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

#submit-message p {
  color: #333;
  line-height: 1.5;
  margin: 0.5rem 0;
}

#submit-message strong {
  color: #437081;
}

.fruitsInfo{
  background-color: var(--accent1);
  text-align: center;
}
.fruitsInfo ol, 
.fruitsInfo h3{
  padding: 0;
  margin: 0;
}
.fruitsInfo ol li{
  list-style-position: inside;
}

/* about page */

iframe{
  width: 100%;
}

.about section img,
iframe,
.index info img,
.container img,
.moreInfo img
{
  border: solid 2px var(--accent1);
  text-align: center;
  width: 90%;
  display: block;
  margin: auto;
}

.about section img {
  width: 50%;
}
/* catalog */

.drinks-display {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
}

.drink-container {
  position: relative;
}

.drink-container img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #d14408a1;
}

.drink-container:hover .overlay {
  opacity: 1;
}

.catText {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}