:root{
    --primary-color: #BD2B28;
    --secondary-color: #f1efed;
    --accent1: #437081;
    --accent2: #d14408;

    --heading-font: "Chewy", cursive;
    --paragraph-font: "DM Sans", sans-serif;
}

body{
    margin: 0 auto;
    font-size: 18px;
}

h1,
h2,
h3,
h4{
    font-family: var(--heading-font);
    letter-spacing: .2rem;
    color: var(--secondary-color);
    padding: 1rem;
}

p, 
span,
a,
figcaption,
footer,
button,
ol
{
    font-family: var(--paragraph-font);
    color: var(--secondary-color);
    padding: 0 1rem;

}

header{
    text-align: center;
}
main{
    background-color: var(--secondary-color);
}

.button,
nav,
.drinks,
footer{
    background-color: var(--primary-color);
}

.getContact{
  text-align: center;
  padding-bottom: .5rem;
}

.moreInfo{
  display: none;
}

.button{
    padding: .8rem;
    display: flex;
    height: 3rem;
    align-items: center;
    justify-content: space-between;
    color: var(--secondary-color);
}
button,
.submit 
{
  border: none;
  outline: none;
}
.mainNav button {
  margin: 0.2rem 2vw;
  background-color: transparent;
  font-size: 2rem;
}

.logoContainer {
  background-image: url(../images/fond.png);
  background-size: cover;
  background-position: center 50%;
}
#primaryNav{
  margin: 0;
}

nav ul {
  text-align: center;
  list-style-type: none;
  padding: 0;
  max-height: 0; 
  overflow: hidden; 
  transition: 0.5s ease-in; 
}

nav ul.open {
  max-height: 300px; 
  display: block;
}

nav ul li a {
  display: block;
  padding: 0.8rem 2vw;
  text-decoration: none;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

nav ul li.active a {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

nav ul li a:hover {
  background-color: var(--accent2);
  color: var(--secondary-color);
}
#hamburgerBtn img{
  cursor: pointer;
}
#hamburgerBtn span:nth-child(1) {
  display: block;
}
#hamburgerBtn span:nth-child(2) {
  display: none;
}
#hamburgerBtn.open span:nth-child(1) {
  display: none;
}
#hamburgerBtn.open span:nth-child(2) {
  display: block;
}

.social{
  display: flex;
  gap: 1.2rem;
}
section{
  margin: 2rem 0;
}
.index h1{
  text-shadow: 4px 4px 5px var(--accent2);
  font-size: 3em;
}
.hero{
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

.home-hero {
  background-color: var(--primary-color);
  background-image: url(../images/hero.png);
  background-size: cover;
  background-position: center 40%;
  text-align: center;
  padding-bottom: .5rem;
}

.home-hero p {
  color: var(--secondary-color);
  font-size: large;
  font-weight: 400;
  background-color: #d44240d3;
  width: 60%;
  padding: 1rem;
  margin: 0 auto 2dvb auto;
}

.home-hero img {
  /* width: 400px;
  max-width: 90%; */
  border: solid 2px var(--primary-color);
  /* border-radius: 20px; */
  filter: drop-shadow(0 0 .1rem #FDF5EC);
}

.aboutHero{
  background-color: var(--primary-color);
  padding-bottom: 1rem;
  text-align: center;
  background-image: url(../images/hero-3.png);
  background-size:50%;
  background-repeat: no-repeat;
  background-position: right;
  min-height: 8rem;
}

.hero img{
    margin-top: 2rem;
    max-width: 30rem;
    width: 100%;
}
.secondcolumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
}
a{
    text-decoration: none;
}

.promo {
  background-color: var(--accent2);
  background-image: url(../images/drinks-kobby.jpg);
  background-size: cover;
  text-align: center;
  padding: .5rem 0;
}

.promo img{
  display: none;
}
section img{
  width: 100%;
}
.instructions {
  text-align: left;
}

#clear-icon {
  filter: brightness(50%) saturate(100%);
  -webkit-filter: brightness(114%) saturate(400%);
  -moz-filter: brightness(50%) saturate(100%);
}

.action-button,
.specials-button {
  cursor: pointer;
  background-color: var(--accent1);
  font-size: large;
  margin: 1rem;
  padding: 1rem;
  border-radius: 20px;
}

.specials-button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.action-button:hover,
.specials-button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  transform: scale(1.1);
}

.specials {
  display: flex;
  align-items: center;
}

.specials-content {
  background-color: var(--primary-color);
  flex: 1.5;
  padding: 1rem;
}

.specials-image {
  flex: 1;
  display: flex;
  align-items: center;
  overflow: hidden
}

.specials-image img {
  max-width: 110%;
  max-height: 100%; 
  height: auto;
  width: auto; 
}

.submit{
  background-color: var(--accent1);
  color: var(--secondary-color);
  padding: .5rem;
  border-radius: 10px;
  width: 80%;
  margin: 0.5rem auto;
  display: block;
}

.submit:hover{
  background-color: var(--primary-color);
  transform: scale(1.1);
  border: none;
}
.info{
  padding: 0.5rem 0;
}
.info img, .card img{
    width: 100%;
}

.info,
.meteo,
.contact, 
.getContact
{
    background-color: var(--accent1);
    padding-bottom: .5rem;
}

.container,
.history
{
    background-color: var(--accent2);
    padding-bottom: 2rem;
}
.container{
  padding-top: .5rem;
}

.cardInfo{
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
    justify-content: space-between;
}

.cardInfo > div {
  flex-basis: 50%;
}

.drinks{
  text-align: center;
  background-image: url(../images/brooke-lark-HjWzkqW1dgI-unsplash.jpg);
  background-size: cover;
}

.meteo{
  background-image: url(../images/meteo.png);
  background-size: cover;
  padding: 0;
  margin: 0;
}

.meteo h2{
  text-align: center;
}

.weather {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.forecast {
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-icon {
  max-width: 35%;
  margin: 0;
}


#weather-icon,
#clear-icon,
#main-icon
{
  text-align: center;
}

.current {
  grid-column: 1/2;
  display: flex;
  flex-direction: row-reverse;
  align-items:start;
  justify-content: left;
}

#currentTemp {
  font-size: larger;
}
#desc {
  align-self: center;
  padding: 17px;
  margin-right: 10px;
}
.currentInfo {
  grid-column: 1/3;
  display: flex;
  flex-direction: row-reverse;
}

h4,
.forecastSec h3 {
  background-color: var(--secondary-color);
  color: var(--accent1);
  text-align: center;
  padding: 15px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.one,
.two{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.one div,
.two div {
  text-align: center;
}

.one p,
.two p {
  margin: 0;
  padding: 10px;
}

.hide {
  display: none;
}

.logo{
  width: 50%;
}

footer{
  text-align: center;
  padding: 0;
}
.footerDown{
  background-color: var(--accent1);
  padding: 1rem;
  margin-top: .5rem;
}
/* fresh page */

input:required{
  border: 2px solid var(--primary-color);
}
input:valid{
  border:  2px solid var(--accent1);
}
.info ul{
  list-style: none;
  padding: 0;
}

form input,
input[type="checkbox"]
{
  margin: 0.3rem 5px;
}

textarea{
  width: 100%;
}

.userInfo{
  display: flex;
  flex-direction: column;
  background-image: url("../images/back.png");
  background-size:auto;
  background-repeat: no-repeat;
  background-position: top;
}

.userInfo input{
  height: 2rem;
}

.fruits div {
  display: flex;
  align-items: center;
}

#submit-message{
  display: none;
  background-color: #ff824dbf;
  color: var(--secondary-color);
  padding: .5rem;
  border-radius: 5px;
  width: 80%;
  margin: auto;
  margin-top: 1rem;
  text-align: center;
}


.fruitsInfo{
  background-color: var(--accent1);
  text-align: center;
}
.fruitsInfo ol, 
.fruitsInfo h3{
  padding: 0;
  margin: 0;
}
.fruitsInfo ol li{
  list-style-position: inside;
}

/* about page */

iframe{
  width: 100%;
}

.about section img,
iframe,
.index info img,
.container img,
.info img,
.moreInfo img
{
  border: solid 2px var(--accent1);
  text-align: center;
  width: 90%;
  display: block;
  margin: auto;
}
