@media only screen and (min-width: 75em){
    .index {
        grid-template-columns: repeat(3,1fr);
        gap: 1fr;
    }

    .about {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .home-hero p {
        background-color: transparent;
    }
    .mainNav button {
        display: none;
    }

    nav ul#primaryNav {
        max-height:100%;
        grid-column: 2/3;
        display: flex;
        justify-content: center;
    }
    .menu{
        display: none;
    }
    .logo{
        width: 10em;
    }
    #primaryNav li{
        width: 100%;
    }

    .index img{
        max-width: 30rem;
        margin: 0 auto;
    }
    .home-hero,
    header,
    footer,
    .hero,
    .aboutHero {
        grid-column: 1/4;
    }

    .addInfo {
        grid-row: 3/4;
    }
    
    .button{
        justify-content: center;
    }

    .promo{
        grid-column: 1/3;
        grid-row: 4/5;
    }

    figcaption p {
        display: flex;
        justify-content: center;
    }

    .info,
    .form{
        grid-column: 1/2;
        margin-right: 20px;
    }

    .userInfo {
        grid-column: 2/3;
    }
    .getContact{
        padding-bottom: 1rem;
    }
    .cardInfo{
        grid-column: 3/4;
        grid-row: 4/5;
        margin-bottom: 0;
    }
    .action-button{
        padding: 1rem;
        width: 15em;
        margin: auto;
        border-radius: 20px;
    }
    .container{
        grid-column: 2/4;
        margin: 0;
    }

    .montly {
        text-align: center;
    }

    .montlyDrink img { 
        margin-top: 1rem;
        width: 350px;

    }

    .drinkContainer {
        width: 40%;
    }
    
    .promo h2 {
        margin-bottom: 2rem;
    }

    .promoContent {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        align-items: center;
    }

    .promoText p {
        font-size: 1.1rem;
        line-height: 1.5;
    }

    .promo img {
        width: 80%;
    }


    button.action-button {
        margin-top: 2rem;
        padding: 1rem 1.5rem;
        font-size: 1.2rem;
    }

    .drinks-display {
        grid-template-columns: repeat(5, 1fr);
    }
   
}
