@media only screen and (min-width: 45em){
    .home-hero{
        height: 20rem;
    }

    .promo img{
        display: block;
    }
    .logo,
    .info img{
        max-width: 15rem;
    }

    .info,
    .container{
        text-align: center;
    }

    .history img {
        width: 250px;
    }

    .fresh{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    main.index
    {
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    
    .home-hero {
        margin-top: 0;
    }

    header,
    footer,
    .home-hero,
    .addInfo,
    .promo,
    .specials,
    .montly,
    .info,
    .cardInfo,
    .container,
    .getContact {
        grid-column: 1/4;
    }

    .drinks-display {
        grid-template-columns: repeat(4, 1fr);
    }
}